@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(c.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  padding-bottom: 80px;
}

.container .content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.container .content .title {
  font-size: 55px;
  color: #0d0f94c5;
}

.container .content .description {
  font-size: 18px;
  color: #3b4a81;
  padding: 10px 0;
  max-width: 600px;
}

.container .content .count-down {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  gap: 15px;
}

.container .content .count-down .box h3 {
  font-size: 50px;
  background: #010029b9;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  color: azure;
}

.container .content .count-down .box p {
  font-size: 20px;
  color: #333253;
  padding: 5px 0;
}

.container .content .btn {
  display: inline-block;
  padding: 9px 40px;
  background: #1e2091c5;
  color: rgb(237, 239, 253);
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.2s linear;
}

.container .content .btn:hover {
  transform: scale(1.1);
}

.container span {
  position: absolute;
  top: -50px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: cornsilk;
  filter: blur(3px);
  animation: snowFall 5s linear infinite;
}

@keyframes snowFall {
  100% {
    transform: translateY(105vh) scale(0.4);
  }
}
